<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h1>@ViewBag.Example</h1>

    @{
        string LocalString = ViewBag.Example + " Good to see you!";
    }
    <h3>@LocalString</h3>
    @* <form action="method" method="post">
        <input type="text" name="TextField" />
        <input type="number" name="NumberField" />
        <button type="submit">Submit</button>
 *@
    </form>
    <h1>Hello ASP.Net Mvc</h1>
    @{
        var StringList = new List<string>
            {
                "one",
                "two",
                "three",
                "four"
            };

        
        foreach(var word in StringList)
        {
            // rendering HTML from c# code 
            <p>@word</p>
            @if(word.Length < 4 )
            {
                <p>@word is a short word</p>
            }
        }
        
    }
    
</body>
</html>